{% extends 'base.html.twig' %}
{% block content %}
    {% for category in categories %}
        <div class="row">
            <div class="col-12">
                <h4 class="mt-3">{{ category.name }}</h4>
                <div class="row">
                    {% for book in category.books %}
                        <div class="col-2">
                            <div class="card">
                                <img class="card-img-top"
                                     src="{{ asset('images/book_cover.jpg') }}"
                                     alt="Card image cap">
                                <div class="card-body pl-2">
                                    <div class="row">
                                        <div class="col-12">
                                            <h5><a href="show/{{ book.id }}">{{ book.name }}</a></h5>
                                            <h6 class="text-muted">{{ book.author }}</h6>
                                            <p style="font-size: 15px" class="flow-text">{{ book.description }}</p>
                                            <div class="my-2">
                                                <strong>LKR. {{ book.unitPrice|number_format(2, '.', ',') }}</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="card-link btn btn-primary text-center" href="/cart/book/{{ book.id }}">
                                        Add To Cart
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
